<div class="container">
    <div class="row mt-3">
      <div class="col">
        <% if @new_book.errors.any? %>
          <h3><%= @new_book.errors.count %> errors prohibited this obj from being saved.</h3>
          <ul class="pl-4">
            <% @new_book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>

  <div class="row mt-3">
    <div class="col-md-3">

      <%= render 'users/info', user:@user %>
      <%= render 'template', new_book: @new_book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>

      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
            <% unless book.nil? %>
              <tr>
                <td>
                  <%= link_to user_path(book.user_id) do %>
                    <%= image_tag book.user.get_profile_image(75, 75) %>
                  <% end %>
                </td>
                <td><%= link_to book.title, "/books/#{book.id}" %></td>
                <td><%= book.opinion %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
