<div class="container">
    <div class="row mt-3">
      <div class="col">
        <% if @new_book.errors.any? %>
          <h3><%= @new_book.errors.count %> errors prohibited this obj from being saved.</h3>
          <ul class="pl-4">
            <% @new_book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>

  <div class="row mt-3">
    <div class="col-md-3">
      <h2>User info</h2>

      <%= image_tag current_user.get_profile_image(100, 100) %>
      <table class="table">
        <tbody>
          <tr>
            <td><strong>name</strong></td>
            <td><strong><%= current_user.name %></strong></td>
          </tr>
          <tr>
            <td><strong>introduction</strong></td>
            <td><strong><%= current_user.introduction %></strong></td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <%= link_to edit_user_path(current_user.id), class:'col d-grit gap-2 btn btn-outline-secondary my-3' do %>
          <i class="fa-solid fa-user-gear"></i>
        <% end %>
      </div>

      <%= render 'template', new_book: @new_book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>

      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
            <% unless book.nil? %>
              <tr>
                <td>
                  <%= link_to user_path(book.user_id) do %>
                    <%= image_tag book.user.get_profile_image(75, 75) %>
                  <% end %>
                </td>
                <td><%= link_to book.title, "/books/#{book.id}" %></td>
                <td><%= book.opinion %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
