<div class="container">
  <div class="row mt-3">
    <div class="col-md-3">

      <h2>User info</h2>

      <%= image_tag @book.user.get_profile_image(100, 100) %>
      <table class="table">
        <tbody>
          <tr>
            <td><strong>name</strong></td>
            <td><strong><%= @book.user.name %></strong></td>
          </tr>
          <tr>
            <td><strong>introduction</strong></td>
            <td><strong><%= @book.user.introduction %></strong></td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <%= link_to edit_user_path(@book.user_id), class:'d-grit gap-2 btn btn-outline-secondary btn-block my-3' do %>
          <i class="fa-solid fa-user-gear"></i>
          
        <% end %>
      </div>

<!--      <div class="row">
        <% if @book.user_id == current_user.id %>
          <%= link_to edit_user_path(@user), class:'col d-grit gap-2 btn btn-outline-secondary my-3' do %>
            <i class="fa-solid fa-user-gear"></i>
          <% end %>
        <% else %>
          <%= link_to user_path(@user.id), class:'col d-grit gap-2 btn btn-outline-secondary my-3' do %>
            <i class="fa-solid fa-user-gear"></i>
          <% end %>
        <% end %>
      </div>
 -->

      <%= render 'template', new_book: @new_book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>

      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book.user_id) do %>
                <%= image_tag @book.user.get_profile_image(100, 100) %>
                <p><%= @book.user.name %></p>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book.id) do %>
                <%= @book.title %>
              <% end %>
            </td>
            <td><%= @book.opinion %></td>
            <% if @book.user == current_user %>
              <td><%= link_to 'Edit', edit_book_path(@book.id), class:'d-grit gap-2 btn btn-success btn-sm' %></td>
              <td><%= link_to 'Destroy', book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？", class:'d-grit gap-2 btn btn-danger btn-sm' %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
