<div class="container">
  <div class="row mt-3">
    <div class="col-md-3">

      <%= render 'users/info', user:@user %>
      <%= render 'template', new_book: @new_book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>

      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book.user_id) do %>
                <%= image_tag @book.user.get_profile_image(100, 100) %>
                <p><%= @book.user.name %></p>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book.id) do %>
                <%= @book.title %>
              <% end %>
            </td>
            <td><%= @book.opinion %></td>

            <td id="favorite_<%= @book.id %>">
              <%= render 'favorites/favorite', book:@book %>
            </td>
            
            <td id="comments_count">
              <%= render 'book_comments/comments_count', book: @book %>
            </td>
            <td>閲覧数: <%= @book.view_count %></td>
            <% if @book.user == current_user %>
              <td><%= link_to 'Edit', edit_book_path(@book.id), class:'d-grit gap-2 btn btn-success btn-sm' %></td>
              <td><%= link_to 'Destroy', book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？", class:'d-grit gap-2 btn btn-danger btn-sm' %></td>
            <% end %>
          </tr>
        </tbody>
      </table>

      <div id="comments_index">
        <%= render 'book_comments/index', book: @book %>
      </div>

      <%= render 'book_comments/form', book:@book, book_comment:@book_comment %>

    </div>
  </div>
</div>
